.App {
  background-color: orange;
  text-align: center;
  margin: 0 auto;
    max-width: 80%;
    border: 1px dotted purple;

}

.children {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.child {
  background-color: lavender;
  padding: 1em;
  margin: 1em;
  border: 1px dashed brown;
}

.grandchild {
  padding: 1em;
  margin: 1em;
  background: aliceblue;
}